/*body {
        margin: 0px;
        padding: 0px;
      }
      #container {
        background-image: url("http://www.html5canvastutorials.com/demos/assets/lines.jpg");
        width: 580px;
        height: 202px;
      }*/